  <table :class="[{'vuetable': true}, css.tableClass]">
    <thead>
      <tr>
        <template v-for="field in fields">
          <template v-if="field.visible">
            <template v-if="isSpecialField(field.name)">
              <th v-if="extractName(field.name) == '__checkbox'" :class="[field.titleClass || '']">
                <input type="checkbox" @change="toggleAllCheckboxes(field.name, $event)">
              </th>
              <th v-if="extractName(field.name) == '__component'"
                  @click="orderBy(field, $event)"
                  :class="[field.titleClass, {'sortable': isSortable(field)}]"
                  v-html="field.title || ''">
                  <i v-if="isCurrentSortField(field) && field.title"
                     :class="sortIcon(field)"
                     :style="{opacity: sortIconOpacity(field)}"></i>
              </th>
              <th v-if="notIn(extractName(field.name), ['__checkbox', '__component'])"
                  :id="'_' + extractArgs(field.name)" class="[field.titleClass || '']" v-html="field.title || ''">
              </th>
            </template>
            <template v-else>
              <th @click="orderBy(field, $event)"
                :id="'_' + field.name"
                :class="[field.titleClass,  {'sortable': isSortable(field)}]">
                {{  getTitle(field) }}&nbsp;
                <i v-if="isCurrentSortField(field)" :class="sortIcon(field)" :style="{opacity: sortIconOpacity(field)}"></i>
              </th>
            </template>
          </template>
        </template>
      </tr>
    </thead>
    <tbody v-cloak>
      <template v-for="(item, index) in tableData">
        <tr @click="onRowClicked(item, $event)" :render="onRowChanged(item)" :class="onRowClass(item, index)">
          <template v-for="field in fields">
            <template v-if="field.visible">
              <template v-if="isSpecialField(field.name)">
                <td v-if="extractName(field.name) == '__sequence'" :class="[{'vuetable-sequence': true}, field.dataClass]"
                  v-html="tablePagination.from + index">
                </td>
                <td v-if="extractName(field.name) == '__checkbox'" :class="[{'vuetable-checkboxes': true}, field.dataClass]">
                  <input type="checkbox"
                    @change="toggleCheckbox(item, field.name, $event)"
                    :checked="rowSelected(item, field.name)">
                </td>
                <td v-if="extractName(field.name) === '__component'" :class="field.dataClass">
                  <component :is="extractArgs(field.name)" :row-data="item"></component>
                </td>
              </template>
              <template v-else>
                <td v-if="hasCallback(field)" :class="field.dataClass"
                  @click="onCellClicked(item, field, $event)"
                  @dblclick="onCellDoubleClicked(item, field, $event)"
                  v-html="callCallback(field, item)"
                >
                
                </td>
                <td v-else :class="field.dataClass"
                  @click="onCellClicked(item, field, $event)"
                  @dblclick="onCellDoubleClicked(item, field, $event)"
                  v-html="getObjectValue(item, field.name, '')"
                >
            
                </td>
              </template>
            </template>
          </template>
        </tr>
        <template v-if="useDetailRow">
          <tr v-if="isVisibleDetailRow(item[detailRowId])"
            @click="onDetailRowClick(item, $event)"
            :transition="detailRowTransition"
            :class="[css.detailRowClass]"
          >
            <td :colspan="countVisibleFields">
              <component :is="detailRowComponent" :row-data="item"></component>
            </td>
          </tr>
        </template>
      </template>
    </tbody>
  </table>